<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init" default-destroy-method="destroy"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="person" class="com.fcakbulut.spring.test.Person" scope="singleton"
		init-method="onCreate" destroy-method="onDestroy" factory-method="getInstance">
		<constructor-arg value="777" name="id" type="int"></constructor-arg>
		<constructor-arg value="mary" name="name" type="String"></constructor-arg>
		<property value="321" name="taxId">
		</property>
		<property name="address" ref="address"></property>
	</bean>

	<bean id="person2" class="com.fcakbulut.spring.test.Person" scope="singleton"
		init-method="onCreate" destroy-method="onDestroy" factory-method="createPerson"
		factory-bean="personFactory">
		<constructor-arg value="654" name="id" type="int"></constructor-arg>
		<constructor-arg value="Mike" name="name" type="String"></constructor-arg>
		<property value="321" name="taxId">
		</property>
		<property name="address" ref="address"></property>
	</bean>

	<bean id="address" class="com.fcakbulut.spring.test.Address"
		p:doorNumber="31" p:street="Red Light">
	</bean>

	<bean id="fruitBasket" class="com.fcakbulut.spring.test.FruitBasket">
		<constructor-arg name="fruits">
			<list>
				<value>apple</value>
				<value>blueberry</value>
			</list>
		</constructor-arg>
	</bean>

	<bean id="personFactory" class="com.fcakbulut.spring.test.PersonFactory">
	</bean>

	<bean id="jungle" class="com.fcakbulut.spring.test.Jungle">
		<property name="theKingOne">
			<bean class="com.fcakbulut.spring.test.Animal">
				<property name="animalName">
					<value>lion</value>
				</property>
			</bean>
		</property>

		<constructor-arg name="animals">
			<list>
				<value>dog</value>
				<value>cat</value>
			</list>
		</constructor-arg>

		<property name="foods">
			<props>
				<prop key="gorilla">banana</prop>
				<prop key="dog">bone</prop>
			</props>
		</property>
	</bean>

	<bean id="animal" class="com.fcakbulut.spring.test.Animal">

	</bean>

</beans>
