<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="init" default-destroy-method="destroy">


	<bean id="person" class="com.fcakbulut.spring.test.Person" scope="singleton"
		init-method="onCreate" destroy-method="onDestroy" factory-method="getInstance">
		<constructor-arg value="777" name="id" type="int"></constructor-arg>
		<constructor-arg value="mary" name="name" type="String"></constructor-arg>
		<property value="321" name="taxId">
		</property>
		<property name="address" ref="address"></property>
	</bean>

	<bean id="person2" class="com.fcakbulut.spring.test.Person" scope="singleton"
		init-method="onCreate" destroy-method="onDestroy" factory-method="createPerson"
		factory-bean="personFactory">
		<constructor-arg value="654" name="id" type="int"></constructor-arg>
		<constructor-arg value="Mike" name="name" type="String"></constructor-arg>
		<property value="321" name="taxId">
		</property>
		<property name="address" ref="address"></property>
	</bean>

	<bean id="address" class="com.fcakbulut.spring.test.Address">
		<property name="doorNumber">
			<value>3</value>
		</property>
		<property name="street">
			<value>RedLightDistrict</value>
		</property>
	</bean>

	<bean id="personFactory" class="com.fcakbulut.spring.test.PersonFactory">
	</bean>
</beans>
